* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {}

/* ~~~~share style~~~ */
.button {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.white-btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 6px;
  /* margin-left: 20px; */
  cursor: pointer;
}
#feature,
#challenge {
  margin-top: 100px;
}

.card-container,
.challenge-container {
  margin-top: 60px;
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
  /* padding: 15px; */
  justify-content: center;
  text-align: center;
}

.challenge-container{
  background-color: #F7F6F2;
  border-radius: 12px;
}
.challenge-content{
  padding: 80px 0px ;
}
.challenge-content h2{
  font-size: 40px;
  color: #001931;
}
.challenge-content p{
  margin-top: 16px;
color: #627382;
line-height: 24px;
margin-bottom: 24px;
}






/* ~~~~~~~~~common style~~~~~~~~~~~~ */

/* ~~~~~~~Nav section~~~~~~~~~~ */
#nav {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 15px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 139px;
  height: 60px;
  padding: 16px;
  cursor: pointer;

}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#hero {
  width: 100%;
  /* height: 100vh; */
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}

.hero-container {
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 115px 120px 179px 115px;

}

.hero-container .rounded-box {
  display: flex;
  text-align: center;
  width: 229px;
  background-color: white;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50px;
}

.hero-content {
  padding: 0 250px 0 250px;
  align-items: center;
}

.hero-content h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  line-height: 84px;
  margin: 16px 0;
}

.hero-content h1 span {
  color: #30B868;
}

.hero-content p {
  font-size: 18px;
  color: white;
  line-height: 24px;
  margin-bottom: 32px;
}

/* ~~~~~card section~~~~ */


.card-container h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-container p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 3px;
}

.card-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}


.icon-circle {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #F95555;
  align-items: center;
  margin: 0 auto 18px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.icon-circle img {
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.08);
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931;
}

.card p {
  color: #627382;
  line-height: 20px;
}

/* ~~~idea section~~~~ */
#idea {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
}

.idea-container {
  display: flex;
  gap: 20px;
  padding-top: 100px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  gap: 20px;

}

.idea-img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.idea-content {

  width: 600px;
  padding: 100px 0 100px 20px;
  /* align-items: center; */
  text-align: left;
}

.idea-content .tittle {
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.idea-content h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.idea-content .describe {
  color: #627382;
  margin-bottom: 30px;
}

.idea-formula {
  display: flex;
  gap: 10px;
  line-height: 20px;
  margin-bottom: 20px;
}

.idea-formula img {
  align-items: center;
}

.idea-formula p {
  color: 001931;

}